.Ecommerce-Website-Services-Section-heading {
    color: #183b56;
    font-weight: bold;
    font-size: 35px;
}

.Ecommerce-Website-Services-Section-cards-heading {
    font-size: 22px;
    color: #1f2933;
}

.Ecommerce-Website-Services-Section-cards-descrip {
    color: #7b8794;
}

.Ecommerce-Website-Services-Section-para {
    color: #616c7c;
}